{% extends "base.html" %}
{% block nd %}
{% load static %}
<div style="vartical-align: middle; height: 300px; background-image: url( {% static 'images/baner2.jpg' %});">
</div>

<div class="col-md-12">
	<!--phần hiển thị bài viết-->
	<div class="col-md-8">
		{% if baiviets%}
			<div class="w3l-news_info_agile_its">
                <div class="modal-content">

					<div style="color: #606060" class="media response-info modal-body">
						<center><h3>{{baiviets.tieu_de}}</h3></center>
						<br/>
						<small>
							<i class="fa fa-calendar">: {{baiviets.ngay_tao|safe}}</i> | <i class="fa fa-eye">: {{baiviets.luot_xem}}</i>
							 | <i class="fa fa-user">: {{baiviets.tac_gia_id}}</i>
						</small>
						<hr>
						{{baiviets.noi_dung | safe}}
					</div>
                </div>
				<hr>
				<!--<div class="fb-share-button"-->
					<!--data-href="http://127.0.0.1:8000/baiviet/{{baiviets.ma_bai}}"-->
					<!--data-layout="button_count">-->
				<!--</div>-->
				<!--<div class="fb-quote"></div>-->
				<!--face like share-->
				<div class="fb-like" data-href="http://127.0.0.1:8000/baiviet/{{baiviets.ma_bai}}" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
				<!--//face like share-->
				<br>
				<!--face comment-->
				<div class="fb-comments" data-href="http://127.0.0.1:8000/baiviet/{{baiviets.ma_bai}}" data-numposts="5"></div>
				<!--//face commnent-->
				<div class="clearfix"> </div>
			</div>
		{% endif %}
	</div>
	<!--//phần hiển thị bài viết-->
	<!--thông tin tác giả và tab tin-->
	<div class="container col-md-4">
		<!--phần hiển thị thông tin tác giả-->
		<div class="col-md-12">
			<div class="w3_about_grid">
				<br/>
				<center>
					<img width="100" class="img-thumbnail" src="/media/{{ tacgia.anh_dai_dien }}" alt=" " class="img-responsive" /></br>
					<small>{{ tacgia.ho_ten }}</small></br>
					<small>
						<i class="fa fa-user">: {{tacgia.ten_dang_nhap}}</i> | <i class="fa fa-pencil">: {{ so_bai_viet }}</i>
					</small> |
					{% if tacgia.gioi_tinh == 'nam' %}
						<small><i class="fa fa-male"></i></small></br>
					{% elif tacgia.gioi_tinh == 'nu' %}
						<small><i class="fa fa-female"></i></small></br>
					{% endif %}
				</center>
			</div>
			<div class="clearfix modal-content"> </div>
		</div>
		<!--//phần hiển thị thông tin tác giả-->
		<!--hiển thị tin top, tin hot-->
		<div class="col-md-1"></div>
		<div class="col-md-10">
			<br/>
				<!--tên tab-->
                <ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#tintop" style="color: #00a98f">Top tin</a></li>
					<li><a data-toggle="tab" href="#tinhot" style="color: #00a98f">Tin hot</a></li>
				</ul>
				<!--//tên tab-->
				<!--nội dung tab-->
                <div class="tab-content">
					<!--tab tin top-->
					<div id="tintop" class="tab-pane fade in active">
						<div class="w3l-news_info_agile_its">
							{% if ds_tintop %}
								{% for baiviet in ds_tintop %}
								<div class="col-md-12" style="max-width: 280px; margin:auto">
									<div class="media response-info hop">
										<div style="color:gray;">
											<p><strong class="tieude-tin">{{ baiviet.tieu_de }}</strong></p>
											<small>
												<i class="fa fa-calendar">: {{baiviets.ngay_tao|safe}}</i> | <i class="fa fa-eye">: {{baiviet.luot_xem}}</i>
											</small>
											<hr>
											<a href="/baiviet/{{ baiviet.ma_bai }}" class="max-lines">
												{{ baiviet.noi_dung| safe }}
											</a>

											<div class="media-body">
												<p>
													<small style="float:left; font-family: italy; color: gray">
														--{{baiviet.tac_gia.ten_dang_nhap}}--
													</small>
												</p>
												<p>
													<br/>
													<a href="/baiviet/{{ baiviet.ma_bai }}" style="float:right;color:#00a98f" href="#">
														<small style="font-family: italy;">chi tiết...</small>
													</a>
												</p>
											</div>
										</div>
									</div>
									<hr>
								</div>
								{% endfor %}
							{% endif %}
							<div class="clearfix"> </div>
						</div>
					</div>
					<!--//tab tin top-->
					<!--tab tin hot-->
					<div id="tinhot" class="tab-pane fade">
						<div class="w3l-news_info_agile_its">
						{% if ds_tinhot %}
							{% for baiviet in ds_tinhot %}
							<div class="col-md-12" style="max-width: 280px; margin:auto">
									<div class="media response-info hop">
										<div style="color:gray">
											<p><strong class="tieude-tin">{{ baiviet.tieu_de }}</strong></p>
											<small>
												<i class="fa fa-calendar">: {{baiviets.ngay_tao|safe}}</i> | <i class="fa fa-eye">: {{baiviet.luot_xem}}</i>
											</small>
											<hr>
											<a href="/baiviet/{{ baiviet.ma_bai }}" class="max-lines">
												{{ baiviet.noi_dung| safe }}
											</a>

											<div class="media-body">
												<p>
													<small style="float:left; font-family: italy; color: gray">
														--{{baiviet.tac_gia.ten_dang_nhap}}--
													</small>
												</p>
												<p>
													<br/>
													<a href="/baiviet/{{ baiviet.ma_bai }}" style="float:right;color:#00a98f" href="#">
														<small style="font-family: italy;">chi tiết...</small>
													</a>
												</p>
											</div>
										</div>
									</div>
									<hr>
								</div>
							{% endfor %}
						{% endif %}
						<div class="clearfix"> </div>
					</div>
				</div>
					<!--//tab ti hot-->
				</div>
				<!--//nội dung tab-->
		</div>
		<div class="col-md-1"></div>
		<!--//hiển thị tin top, tin hot-->
	</div>
	<!--//thông tin tác giả và tab tin-->
	<!--style cho nội dung và tiêu đề bài viết-->
	<style>
        .max-lines{
			color: gray;
		   overflow: hidden;
		   text-overflow: ellipsis;
		   display: -webkit-box;
		   -webkit-box-orient: vertical;
		   -webkit-line-clamp: 6;
		   font-size: 10px;
		   line-height: 1;
		   height: 10*6*1;   /* chiều cao tối đa đoạn văn bản = (cỡ chữ) x (số dòng) x (chiều cao) */
		   max-height: 250px;
		   max-width: 200px;
		}
		.tieude-tin{
		   overflow: hidden;
		   text-overflow: ellipsis;
		   display: -webkit-box;
		   -webkit-box-orient: vertical;
		   -webkit-line-clamp: 1;
		   font-size: unset;
		   line-height: 2;
		   max-height: 25px;
		   max-width: 300px;
		}

	</style>
	<!--//style cho nội dung và tiêu đề bài viết-->
</div>
<div class="clearfix"> </div>
<hr>
{% endblock %}

