{% extends "base.html" %}
{% block nd %}
{% load static %}
<div style="vartical-align: middle; height: 300px; background-image: url( {% static 'images/baner2.jpg' %});">
</div>

<!--nội dung-->
<div class="services">
	<div class="container">
		<!--dòng tiêu đề-->
		<h3 class="tittle_agile_w3">Danh sách tin {{ danhmucs.ten_danhmuc }}</h3>
		<div class="heading-underline">
			<div class="h-u1"></div>
			<div class="h-u2"></div>
			<div class="h-u3"></div>
			<div class="clearfix"></div>
		</div>
		<!--//dòng tiêu đề-->
		<!--nội dung chứa tin-->
		<div class="w3l-news_info_agile_its">
			<!--danh sách tin-->
			<div class="col-md-8">
				{% if ds_baiviet_danhmuc %}
					{% for baiviet in ds_baiviet_danhmuc %}
					<div class="col-md-6" style="max-width: 330px; margin:auto; color:#606060">
						<div class="media response-info hop">
							<div>
								<p><strong class="tieude-tin">{{ baiviet.tieu_de }}</strong></p>
								<small>
									<i class="fa fa-calendar">: {{baiviet.ngay_tao|safe}}</i> | <i class="fa fa-eye">: {{baiviet.luot_xem}}</i>
								</small>
								<hr>
								<a href="/baiviet/{{ baiviet.ma_bai }}" class="max-lines">
									{{ baiviet.noi_dung| safe }}
								</a>

								<div class="media-body">
									<p>
										<small style="float:left; font-family: italy; color: gray">
											--{{baiviet.tac_gia.ten_dang_nhap}}--
										</small>
									</p>
									<p>
										<br/>
										<a href="/baiviet/{{ baiviet.ma_bai }}" style="float:right;color:#00a98f" href="#">
											<small style="font-family: italy;">chi tiết...</small>
										</a>
									</p>
								</div>
							</div>
						</div>
						<hr>
					</div>
					{% endfor %}
				{% endif %}
				<div class="clearfix"> </div>
			</div>
			<!--//danh sách tin-->
			<!--tin hot, ton top-->
			<div class="col-md-4" style="border-left: 1px solid #00a98f">
				<!--danh mục tab tin-->
				<ul class="nav nav-tabs col-md-10" style="">
					<li class="active"><a data-toggle="tab" href="#tintop" style="color: #00a98f">Top người xem</a></li>
					<li><a data-toggle="tab" href="#tinhot" style="color: #00a98f">Tin hot</a></li>
				</ul>
				<!--//danh mục tab tin-->
				<!--nội dung tab tin-->
				<div class="tab-content">
					<div id="tintop" class="tab-pane fade in active">
						<div class="w3l-news_info_agile_its">
							{% if ds_tintop %}
								{% for baiviet in ds_tintop %}
								<div class="col-md-10" style="max-width: 330px; margin:auto">
									<div class="media response-info hop">
										<div style="color:gray">
											<p><strong class="tieude-tin">{{ baiviet.tieu_de }}</strong></p>
											<small>
												<i class="fa fa-calendar">: {{baiviet.ngay_tao|safe}}</i> | <i class="fa fa-eye">: {{baiviet.luot_xem}}</i>
											</small>
											<hr>
											<a href="/baiviet/{{ baiviet.ma_bai }}" class="max-lines">
												{{ baiviet.noi_dung| safe }}
											</a>

											<div class="media-body">
												<p>
													<small style="float:left; font-family: italy; color: gray">
														--{{baiviet.tac_gia.ten_dang_nhap}}--
													</small>
												</p>
												<p>
													<br/>
													<a href="/baiviet/{{ baiviet.ma_bai }}" style="float:right;color:#00a98f" href="#">
														<small style="font-family: italy;">chi tiết...</small>
													</a>
												</p>
											</div>
										</div>
									</div>
									<hr>
								</div>
								{% endfor %}
							{% endif %}
							<div class="clearfix"> </div>
						</div>
					</div>
					<div id="tinhot" class="tab-pane fade">
						<div class="w3l-news_info_agile_its">
						{% if ds_tinhot %}
							{% for baiviet in ds_tinhot %}
							<div class="col-md-10" style="max-width: 330px; margin:auto">
									<div class="media response-info hop">
										<div style="color:gray">
											<p><strong class="tieude-tin">{{ baiviet.tieu_de }}</strong></p>
											<small>
												<i class="fa fa-calendar">: {{baiviet.ngay_tao|safe}}</i> | <i class="fa fa-eye">: {{baiviet.luot_xem}}</i>
											</small>
											<hr>
											<a href="/baiviet/{{ baiviet.ma_bai }}" class="max-lines">
												{{ baiviet.noi_dung| safe }}
											</a>

											<div class="media-body">
												<p>
													<small style="float:left; font-family: italy; color: gray">
														--{{baiviet.tac_gia.ten_dang_nhap}}--
													</small>
												</p>
												<p>
													<br/>
													<a href="/baiviet/{{ baiviet.ma_bai }}" style="float:right;color:#00a98f" href="#">
														<small style="font-family: italy;">chi tiết...</small>
													</a>
												</p>
											</div>
										</div>
									</div>
									<hr>
								</div>
							{% endfor %}
						{% endif %}
						<div class="clearfix"> </div>
					</div>
				</div>
				</div>
				<!--//nội dung tab tin-->
			</div>
			<!--//tin hot, ton top-->
		</div>
		<!--//nội dung chứa tin-->
	</div>
</div>
<!--//nội dung-->
<!--phân trang-->
<div class="services">
	<center>
	<ul class="pagination pagintion-sm">
		<div class="pagination">
			<span class="step-links">
				{% if ds_baiviet_danhmuc.has_previous %}
					<a href="?page={{ ds_baiviet_danhmuc.previous_page_number }}"><i class="glyphicon glyphicon-chevron-left"></i></a>
				{% endif %}
			</span>

			<span class="current">
				Trang {{ ds_baiviet_danhmuc.number }} / {{ ds_baiviet_danhmuc.paginator.num_pages }}
			</span>

			<span>
				{% if ds_khoa_hoc.has_next %}
					<a href="?page={{ ds_khoa_hoc.next_page_number }}"><i class="glyphicon glyphicon-chevron-right"></i></a>
				{% endif %}
			</span>
		</div>
	</ul>
	</center>
</div>
<!--//phân trang-->
<style>
.max-lines{
			color: gray;
		   overflow: hidden;
		   text-overflow: ellipsis;
		   display: -webkit-box;
		   -webkit-box-orient: vertical;
		   -webkit-line-clamp: 6;
		   font-size: 10px;
		   line-height: 1;
		   max-height: 250px;
		   max-width: 300px;
		}
		.tieude-tin{
		   overflow: hidden;
		   text-overflow: ellipsis;
		   display: -webkit-box;
		   -webkit-box-orient: vertical;
		   -webkit-line-clamp: 1;
		   font-size: unset;
		   line-height: 2;
		   max-height: 25px;
		   max-width: 300px;
		}
</style>
{% endblock %}

