{% extends "base.html" %}
{% block nd %}
{% load static %}
<hr>
	<div class="container" style="min-height: 500px">
        <div class="">
            <div class="signin-form profile">
                <h3 class="">Nhập email đăng ký tài khoản</h3>
                <div class="col-md-3"></div>
                <div class="login-form col-md-6">
                    <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
                        <input style="color:#00a98f" class="form-control" type="email"
                               id="mail" name="txtemail" placeholder="Email" required="">
                        <input type="submit" name="btnsent" id="btnsent" value="Gửi mã xác nhận">
                    </form>
                    {% if thongbao != "" %}
                        <br>
                        <label style="color:00a98f">
                            {{thongbao}}
                        </label>
                    {% endif %}
                </div>
            </div>
        </div>
	</div>
<script src="{% static 'bootstrap/js/jquery.min.js'%}"></script>
<!--validate form đăng kí-->
<script type="text/javascript">
        jQuery( document ).ready(
            jQuery("#btnsent").click(function(){
                var mail = $("#mail").val();
                document.getElementById("mail").setCustomValidity("");

            <!--email-->
                if(mail.length < 1)
                    document.getElementById("mail").setCustomValidity("Vui lòng nhập địa chỉ mail");
                else{
                    var dinhdang = /([a-zA-Z0-9])+@([a-zA-Z0-9])+\.([a-zA-Z0-9])/;
                    if (!dinhdang.test(mail)) {
                        document.getElementById("mail").setCustomValidity("Mail phải theo đúng định dạng: user@domain01.domain2");
                    }
                }

            <!--//email-->
            })
        );
	</script>
<!--<//validate form đăng kí-->
{% endblock %}

