{% extends "base.html" %}
{% block nd %}
{% load static %}
<hr>
	<div class="container" style="min-height: 500px">
		<div class="w3l-news-content events">
			<div class="container fluid">
				<!--tiêu đề-->
				<h3 class="tittle_agile_w3">Kết quả tìm kiếm</h3>
				<div class="heading-underline">
					<div class="h-u1"></div>
					<div class="h-u2"></div>
					<div class="h-u3"></div>
					<div class="clearfix"></div>
				</div>
				<!--//tiêu đề-->
				<!--hiện nội dung kết quả tìm kiếm-->
				<div class="w3l-news_info_agile_its">
					<div class="col-md-12">
					{% if ds_timkiem %}
						{% for baiviet in ds_timkiem %}
							<div class="w3l-news col-md-4">
								<div style="max-width: 330px; margin:auto; color:#606060">
									<div class="media response-info hop">
										<div>
											<p><strong class="tieude-tin">{{ baiviet.tieu_de }}</strong></p>
											<small>
												<i class="fa fa-calendar">: {{baiviet.ngay_tao|safe}}</i> | <i class="fa fa-eye">: {{baiviet.luot_xem}}</i>
											</small>
											<hr>
											<a href="/baiviet/{{ baiviet.ma_bai }}" class="max-lines">
												{{ baiviet.noi_dung| safe }}
											</a>

											<div class="media-body">
												<p>
													<small style="float:left; font-family: italy; color: gray">
														--{{baiviet.tac_gia.ten_dang_nhap}}--
													</small>
												</p>
												<p>
													<br/>
													<a href="/baiviet/{{ baiviet.ma_bai }}" style="float:right;color:#00a98f" href="#">
														<small style="font-family: italy;">chi tiết...</small>
													</a>
												</p>
											</div>
										</div>
									</div>
									<hr>
								</div>
								<hr>
							</div>
						{% endfor %}
					{% else %}
						<center>
							<h3>Không tìm thấy kết quả, nhập lại tìm kiếm...</h3>
						</center>
					{% endif %}
						<div class="clearfix"> </div>
					</div>
				</div>
				<!--//hiện nội dung kết quả tìm kiếm-->
			</div>
		</div>
	</div>
<style>
	.max-lines{
			color: gray;
		   overflow: hidden;
		   text-overflow: ellipsis;
		   display: -webkit-box;
		   -webkit-box-orient: vertical;
		   -webkit-line-clamp: 6;
		   font-size: 10px;
		   line-height: 1;
		   height: 10*6*1;   /* chiều cao tối đa đoạn văn bản = (cỡ chữ) x (số dòng) x (chiều cao) */
		   max-height: 250px;
		   max-width: 300px;
		}
		.tieude-tin{
		   overflow: hidden;
		   text-overflow: ellipsis;
		   display: -webkit-box;
		   -webkit-box-orient: vertical;
		   -webkit-line-clamp: 1;
		   font-size: unset;
		   line-height: 2;
		   max-height: 25px;
		   max-width: 300px;
		}
</style>
{% endblock %}

