<div id="posts">
    <div class="pull-right">
        <button class="btn-link">
            <a href="/baiviet_ds/"><i style="color:#00a98f" class="glyphicon glyphicon-refresh"></i></a>
        </button>
        <input type="search" name="search" value="{{search}}" id="id_search"/>
    </div>
    {% if ds_baiviet %}
    <table id="tb" class="table table-hover table-striped">
        <thead>
            <th></th>
            <th>Tiêu đề</th>
            <th>Ngày tạo</th>
            <th>Ngày sửa</th>
            <th>Tác giả</th>
            <th>Lượt xem</th>
            <th>Trạng thái</th>
            <th>Tin hot</th>
            <th>Danh mục</th>
            <th></th>
            <th></th>
        </thead>
            <tbody id="dl_search">
                {% for baiviet in ds_baiviet %}
                    <tr>
                        <td>#</td>
                        <td><small class="tieude-tin">{{baiviet.title}}</small></td>
                        <td>{{baiviet.datetime_created|safe}}</td>
                        <td>{{baiviet.datetime_updated|safe}}</td>
                        <td>{{baiviet.user_id}}</td>
                        <td>{{baiviet.views}}</td>
                        <td>{{baiviet.is_locked}}</td>
                        <td>{{baiviet.is_hot}}</td>
                        <td>{{baiviet.category.name}}</td>
                        <td><a href="../baiviet_sua/{{baiviet.id}}">
                            <i style="color: #00a98f" class="glyphicon glyphicon-edit"></i></a>
                        </td>
                        <td>
                            <button id="{{baiviet.id}}" class="btn-link">
                                <i style="color: #00a98f" class="glyphicon glyphicon-trash"></i>
                            </button>
                            <script>
                                $("#{{baiviet.id}}").click(function(){
                                    if(confirm('Xóa bài viết {{baiviet.id}}?')==true){
                                        window.location='../baiviet_xoa/{{baiviet.id}}';
                                        }
                                    else{
                                        return false;
                                    }
                                })
                            </script>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
    </table>
    <!--phân trang-->
     <div id="pagination" class="pull-right">
        <ul class="pagination pagintion-sm">
            <div class="pagination">
                <span class="step-links">
                    {% if ds_baiviet.has_previous %}
                        <a class="page-links" href="?page=1&search={{search}}" data-search="{{search}}" data-page="1">
                            <i class="glyphicon glyphicon-backward"></i>
                        </a>
                    {% endif %}
                </span>
                <span class="step-links">
                    {% if ds_baiviet.has_previous %}
                        <a class="page-links" href="?page={{ ds_baiviet.previous_page_number }}&search={{search}}" data-search="{{search}}" data-page="{{ ds_baiviet.previous_page_number }}">
                            <i class="glyphicon glyphicon-chevron-left"></i>
                        </a>
                    {% endif %}
                </span>
                <span class="current">
                    Trang {{ ds_baiviet.number }} / {{ ds_baiviet.paginator.num_pages }}
                </span>
                <span>
                    {% if ds_baiviet.has_next %}
                        <a class="page-links" href="?page={{ ds_baiviet.next_page_number }}&search={{search}}" data-search="{{search}}" data-page="{{ ds_baiviet.next_page_number }}"><i class="glyphicon glyphicon-chevron-right"></i></a>
                    {% endif %}
                </span>
                <span>
                    {% if ds_baiviet.has_next %}
                        <a class="page-links" href="?page={{ ds_baiviet.paginator.num_pages }}&search={{search}}" data-search="{{search}}" data-page="{{ ds_baiviet.paginator.num_pages }}"><i class="glyphicon glyphicon-forward"></i></a>
                    {% endif %}
                </span>
            </div>
        </ul>
     </div>
    <!--//phân trang-->
    {% else %}
            <center>Không có dữ liệu thỏa mãn...</center>
    {% endif %}

</div>
