{% extends "manage/baseadmin.html" %}
{% block nd %}
{% load static %}
<script src="{% static 'bootstrap/js/jquery.min.js'%}"></script>
    <div class="container">
        <ol class="breadcrumb">
            <li><a style="color:#00a98f" href="../admin"><i class="fa fa-dashboard"></i> mange</a></li>
            <li class="active">Cài đặt cá nhân</li>
        </ol>
            <div class="col-md-8">
                <div class="signin-form profile">
                    <h3>Thông tin cá nhân</h3><a style="color:#00a98f" href="../canhan"><i class="fa fa-refresh"></i></a>
                    <div class="login-form">
                        <form action="../canhan/" method="post" enctype="multipart/form-data">{% csrf_token %}
                            <input style="color:#00a98f" value="{{user.username}}" class="form-control" type="Text"
                                   id="tendangnhap" readonly="readonly" placeholder="Username" required="">
                            <input style="color:#00a98f" class="form-control" type="password" name="txtmoi"
                                   id="matkhau1" placeholder="Mật khẩu mới" required="">
                            <input style="color:#00a98f" class="form-control" type="password" name="txtlai"
                                   id="matkhau2" placeholder="Nhập lại mật khẩu" required="">
                            <input style="color:#00a98f" value="{{user.fullname}}" class="form-control" type="Text"
                                   id="hoten" name="txthoten" placeholder="Họ và tên" required="">
                            <input style="color:#00a98f" value="{{user.email}}" class="form-control" type="email"
                                   id="mail" name="txtemail" placeholder="Email" readonly="readonly" required="">
                            <div class="form-control">
                                <label class="radio-inline">Giới tính:</label>
                                {% if user.gender == 1 %}
                                    <label class="radio-inline">
                                        <input style="color:#00a98f" type="radio" name="rbngt" value="True" checked="checked">nam
                                    </label>
                                    <label class="radio-inline"><input type="radio" name="rbngt" value="False">nữ</label>
                                {% elif user.gender == 0 %}
                                    <label class="radio-inline"><input type="radio" name="rbngt" value="True">nam</label>
                                    <label class="radio-inline">
                                        <input style="color:#00a98f" type="radio" name="rbngt" value="False" checked="checked">nữ
                                    </label>
                                {% else %}
                                    <label class="radio-inline">
                                        <input style="color:#00a98f" type="radio" name="rbngt" value="True" checked="checked">nam
                                    </label>
                                    <label class="radio-inline"><input type="radio" name="rbngt" value="False">nữ</label>
                                {% endif %}
                            </div>
                            <input class="form-control" type="file" name="fileimg" class="form-control" id="Anh" style="margin-top: 7"/>
                            <input type="submit" name="btncapnhat" id="btncapnhat" value="Cập nhật">
                        </form>
                        {% if thongbao != "" %}
                            <br>
                            <label style="color:00a98f">
                                {{thongbao}}
                                <script>
                                    setTimeout(function() {
                                        window.location.replace ("../dangxuat");
                                    }, 5000);
                                </script>
                            </label>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-md-4" style="border-left: 2px dashed gray; margin-top: 30">
                <center>
                <div class="modal-sm">
                    <div class="modal-content">

                        <div class="form-group" id="divImage" style="height: 300px; width:300px; padding:5px">
                            <img style='margin: auto;' width='100%' height='100%' class="tes" src="/media/{{user.avatar_url}}"/>
                        </div>
                        <hr>
                        <center>
                            <small style="color:#00a98f">
                            Họ tên: {{user.fullname}}<br>
                            username: {{ user.username }}<br>
                            Giới tính:
                            {% if user.gender == 1 %}
                            <i class="fa fa-male"></i>
                            {% elif user.gender == 0 %}
                            <i class="fa fa-female"></i>
                            {% endif %}
                            </small>
                            <br>
                        </center>
                        <hr>
                    </div>
                </div>
                </center>
            </div>
    </div>
<script>
    $("#Anh").change(function () {
        var noImageExits = $('.tes');
        if (noImageExits) {
            noImageExits.remove();
        }
        if (this.files) {
            for (i = 0; i < this.files.length; i++) {
                var reader = new FileReader();
                reader.onload = function (e) {

                    $('#divImage').append(
                        "<img class='tes' src=" + e.target.result + " style='margin: auto;' width='100%' height='100%' />"
                    );
                }
                reader.readAsDataURL(this.files[i]);
            }
        }
    });
</script>
<!--validate form-->
<script type="text/javascript">
        jQuery( document ).ready(
            jQuery("#btncapnhat").click(function(){
                var user = $("#tendangnhap").val();
                var pass = $("#matkhau1").val();
                var pass2 = $("#matkhau2").val();
                var hoten = $("#hoten").val();

                document.getElementById("tendangnhap").setCustomValidity("");
                document.getElementById("matkhau1").setCustomValidity("");
                document.getElementById("matkhau2").setCustomValidity("");
                document.getElementById("hoten").setCustomValidity("");

            <!--tên đăng nhập-->
                if(user.length < 1)
                    document.getElementById("tendangnhap").setCustomValidity("Vui lòng nhập tên đăng nhập");

                if(user.length>0){
                    if(user.charAt(0)== " "){
                        document.getElementById("tendangnhap").setCustomValidity("Tên đăng nhập không bắt đầu bằng khoảng trống");
                    }
                    else{
                        if (!isNaN(user.charAt(0)))
                        {
                            document.getElementById("tendangnhap").setCustomValidity("Tên đăng nhập không bắt đầu bằng số");
                        }
                        else{
                            if(user.length<3 || user.length>15){
                                document.getElementById("tendangnhap").setCustomValidity("Tên đăng nhập từ 3 đến 15 kí tự");
                            }
                            else{
                                for (i = 0; i < user.length; i++) {
                                    if(user[i] == " ")
                                    document.getElementById("tendangnhap").setCustomValidity("Tên đăng nhập không chứa dấu cách");
                                }
                            }

                        }
                    }
                }
            <!--//tên đăng nhập-->
            <!--mật khẩu-->
                if(pass.length < 1)
                    document.getElementById("matkhau1").setCustomValidity("Vui lòng nhập mật khẩu");
                if(pass.length>0){
                    if(pass.charAt(0)== " "){
                        document.getElementById("matkhau1").setCustomValidity("mật khẩu không bắt đầu bằng khoảng trống");
                    }
                    else{
                        if(pass.length<3 || pass.length>15){
                            document.getElementById("matkhau1").setCustomValidity("Từ 3 đến 15 kí tự");
                        }
                        else{
                            for (i = 0; i < pass.length; i++) {
                                if(pass[i] == " ")
                                document.getElementById("matkhau1").setCustomValidity("Không chứa dấu cách");
                            }
                        }
                    }
                }

                if(pass2 != pass){
                    document.getElementById("matkhau2").setCustomValidity("Mật khẩu không trùng khớp");
                }
            <!--//mật khẩu-->
            <!--ho tên-->
                if(hoten.length < 1)
                    document.getElementById("hoten").setCustomValidity("Vui lòng nhập họ tên");
                if(hoten.length>0){
                    if(hoten.charAt(0)== " "){
                        document.getElementById("hoten").setCustomValidity("Họ tên không bắt đầu bằng khoảng trống");
                    }
                    else{
                        if(hoten.length<5){
                            document.getElementById("hoten").setCustomValidity("họ tên phải từ 5 kí tự");
                        }
                    }
                }
            <!--//họ tên-->
            })
        );
	</script>
<!--<//validate form-->
{%endblock%}