{% if ds_danhmuc %}
    <!--<center>-->
        <!--<small style="color: #00a98f">-->
            <!--Có {{count_result}} kết quả được tìm thấy-->
        <!--</small>-->
    <!--</center>-->
    <table id="tb" class="table table-striped table-hover">
        <thead class="table-striped">
            <th></th>
            <th>Tên danh mục</th>
            <th>Mô tả</th>
            <th>Ngày tạo</th>
            <th>Ngày sửa</th>
            <th>Người tạo</th>
            <th>Đưa lên menu</th>
            <th></th>
            <th></th>
        </thead>
        <tbody class="table-striped">
        {% for danhmuc in ds_danhmuc %}
            <tr>
                <td>#</td>
                <td>{{danhmuc.name}}</td>
                <td>{{danhmuc.describe}}</td>
                <td>{{danhmuc.datetime_created|safe}}</td>
                <td>{{danhmuc.datetime_updated|safe}}</td>
                <td>{{danhmuc.user_id}}</td>
                <td>
                    <div class="form-group" style="background-color: gray; max-width: 70px">
                        <a href="../is_menu/{{danhmuc.id}}">
                            <button type="" style="background-color: #00a98f" class="btn btn-sm btn-success">
                                <i class="fa fa-exchange"></i>
                            </button>
                        </a>
                        <small name="btnmenu" style="color:white">
                            <i>{{danhmuc.show_as_menu}}</i>
                        </small>
                    </div>
                </td>
                <td><a href="../danhmuc_sua/{{danhmuc.id}}">
                    <i style="color: #00a98f" class="glyphicon glyphicon-edit"></i></a>
                </td>
                <td>
                    <button id="{{danhmuc.id}}" class="btn-link">
                        <i style="color: #00a98f" class="glyphicon glyphicon-trash"></i>
                    </button>
                    <script>
                        $("#{{danhmuc.id}}").click(function(){
                            if(confirm('Xóa danh mục {{danhmuc.id}} sẽ mất các bài viết trong danh mục?')==true){
                                window.location='../danhmuc_xoa/{{danhmuc.id}}';
                                }
                            else{
                                return false;
                            }
                        })
                    </script>
                </td>

            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
<center> không có dữ liệu thỏa mãn...</center>
{% endif %}