{% extends "manage/baseadmin.html" %}
{% block nd %}

{% load static %}
<script src="{% static 'bootstrap/js/validator.min.js' %}"></script>
    <div class="container" style="min-height: 500px">
        <section class="content-header">
            <ol class="breadcrumb">
                <li><a href="#" style="color: #00a98f"><i class="fa fa-dashboard"></i> mange</a></li>
                <li class="active">Tạo danh mục</li>
            </ol>
        </section>
        <section class="content">
            <form role="form" action="/danhmuc_them/" method="post">{% csrf_token %}
                <hr>
                <div class="col-md-12">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Ngày tạo:</label>
                            <input type="text" name="txtngaytao" name="txtngaytao" value="{{ ngay_hientai|safe }}"
                                   class="form-control" readonly="readonly"/>
                        </div>
                        <div class="form-group">
                            <label>Người tạo:</label>
                            <input type="text" name="txtnguoitao" class="form-control"
                                   value="{{nguoitao}}" readonly="readonly"/>
                        </div>
                        <div class="form-group">
                            <label>Đưa lên menu:</label>
                            <div class="form-control">
                                <label class="radio-inline">
                                    <input type="radio" name="rbn" value="True">yes
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="rbn" value="False" checked="checked">no
                                </label>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6">

                    <div class="form-group">
                        <label>Tên danh mục:</label>
                        <input type="text" name="txtten" id="txtten" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label>Mô tả:</label>
                        <input type="text" name="txtmota" id="txtmota" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <br/>
                        <input type="submit" style="background-color: #00a98f" class="btn-sm btn-success btn-block" name="btnthem" value="Thêm danh mục">
                    </div>
                </div>


                    {% if thongbao != ""%}
                    <center><label style="color:#00a98f">{{thongbao}}</label></center>
                    {% endif %}
                </div>

            </form>
        </section>
    </div>
{% endblock %}